body{
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: lightgrey;
}


nav a, nav button i{
    color: white;    
}

/* Utility */

a, a:hover{
    text-decoration: none !important;
}
label{
    font-weight: 700;
}

.width-90{
    width: 90%;
}
.absolute-right{
    position: absolute;
    right: 15px;
    z-index: 2;
}
span{
    cursor: pointer;
}
/* websites */
nav.navbar-dark a{
    color: white;
}


/* Pages */
.navbar-light a, .navbar-light span, .navbar-light button i{
    color: black;
}
/*Widgets*/
.icon-right{
    background: white;
    border-radius: 5px 0 0 5px;
    padding: 5px;

}